body {
  background: rgb(188, 231, 211);
  margin: 0;
}
header {
  background: rgb(161, 96, 230);
  color: rgb(0, 0, 0);
  padding: 15px 10px 15px 10px;
}
header h1 {
  font-family: Helvetica;
  font-size: 30px;
  margin: 0 0 0 10px;
  display: inline;
}
nav ul {
  margin: 0;
  display: inline;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  color: black;
  background: rgb(230, 244, 238);
  padding: 2px 4px;
  margin: 4px 2px;
  border-radius: 10px;
}
nav ul li a {
  color: black;
}
p {
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-size: 15px;
}
span {
  text-decoration: underline;
  color: black;
}
span2 {
  color: red;
}
.instructions {
  font-size: 20px;
  font-family: monospace;
}
.text-align {
  text-align: center;
  color: rgb(195, 12, 12);
  font-family: Helvetica;
  font-size: 25px;
}
.thanks {
  font-size: 20px;
  font-family: fantasy;
  color: rgb(195, 12, 12);
  text-decoration: none;
}
img,
picture,
video {
  max-width: 100%;
}
.padding-left {
  padding-left: 10px;
  padding-right: 10px;
  width: 99%;
}
.column {
  float: left;
  width: 32%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: '';
  clear: both;
  display: table;
}

img {
  height: 500px;
  width: auto;
  border-style: dashed;
  border-color: rgb(161, 96, 230);
}
.paragraph {
  border-style: dashed;
  border-color: rgb(161, 96, 230);
}
#underline {
  text-decoration: underline;
}
