body {
  background: rgb(188, 231, 211);
  margin: 0;
}
header {
  background: rgb(161, 96, 230);
  color: rgb(0, 0, 0);
  padding: 15px 10px 15px 10px;
}
header h1 {
  font-family: Helvetica;
  font-size: 30px;
  margin: 0 0 0 10px;
  display: inline;
}
nav ul {
  margin: 0;
  display: inline;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  color: black;
  background: rgb(230, 244, 238);
  padding: 2px 4px;
  margin: 4px 2px;
  border-radius: 10px;
}
nav ul li a {
  color: black;
}
p {
  color: rgb(0, 0, 0);
}
span {
  text-decoration: underline;
}
span2 {
  color: red;
}
.instructions {
  font-size: 20px;
  font-family: monospace;
}
div {
  text-align: center;
}
.thanks {
  font-size: 40px;
  font-family: fantasy;
  color: rgb(195, 12, 12);
}
img,
picture,
video {
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin-left: 15px;
}
